<p>TEST ADMIN ERROR</p>
id: [{{id}}] strCreated: {{strCreated}}<br />
strMessage: {{strMessage}}<br />
strSource: {{strSource}}<br />
strErrorLevel: {{strErrorLevel}}<br />
strAdditionalInformation: {{strAdditionalInformation}}<br /><br />
strStackTrace: {{strStackTrace}}<br />
<hr />
{{#link-to "index.admin.errors" tagName="button" classNames="btn btn-info"}}Back{{/link-to}}