<p>TEST ADMIN ERROR</p>
id: {{id}}<br />
strMessage: {{strMessage}}<br />
strSource: {{strSource}}<br />
strAdditionalInformation: {{strAdditionalInformation}}<br />
strStackTrace: {{strStackTrace}}<br />
dtCreated: {{dtCreated}}<br />
<hr />
{{#link-to "index.admin.errors" tagName="button" classNames="btn btn-info"}}Back{{/link-to}}