{{page-header strPageTitle=strPageTitle strSubHeader=strSubHeader}}

<div class="inbox-body jt76-padding-sides-md p-top-xs ">
    <div class="row m-bottom-md">
        <div class="col-sm-3 m-bottom-sm">
            <h2 class="no-margin">
                Errors
            </h2>
        </div>

        <div class="col-sm-3">
            <div class="search-input">
                <input type="text" class="form-control input-sm inline-block">
                <a href="#" class="input-icon text-normal"><i class="ion-ios7-search-strong"></i></a>
            </div>
        </div>

        <div class="col-sm-6 text-right text-left-sm">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Order By <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a>Order</a></li>
                    <li class="divider"></li>
                    <li><a>Reset</a></li>
                </ul>
            </div>
            <a class="btn btn-primary">
                <i class="fa fa-fire"></i>&nbsp;Inject New Error
            </a>
            <a class="btn btn-success">
                <i class="fa fa-plus-circle"></i>&nbsp;Add Error
            </a>
            <a class="btn btn-info">
                <i class="fa fa-refresh"></i>&nbsp;Refresh
            </a>
        </div>
    </div>

    {{pagination-display classNames="pagination-row clearfix m-bottom-sm" pagination=paginationData}}

    <div class="message-table table-responsive bg-light">
        <table class="table table-bordereds">
            <thead>
                <tr class="bg-dark">
                    <th class="col-sm-2">Created</th>
                    <th class="col-sm-4">Message</th>
                    <th class="col-sm-3">Source and Level</th>
                    <th class="col-sm-3">Additional Information</th>
                </tr>
            </thead>
            <tbody>
                {{#each item in filteredModel}}
                <tr>
                    <td>
                        <div class="jt76-multiline">{{item.strCreated}}</div>
                    </td>
                    <td>
                        {{#link-to "index.admin.customError" item }}<span class="jt76-title-link">{{item.strMessage}}</span>{{/link-to}}<br />
                    </td>
                    <td>
                        <div class="jt76-multiline">{{item.strSource}} {{item.strErrorLevel}}</div>
                    </td>
                    <td>
                        <div class="jt76-multiline">{{item.strAdditionalInformation}}</div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    
    {{pagination-display classNames="pagination-row clearfix m-bottom-sm" pagination=paginationData}}

</div>