<div class="inbox-body jt76-padding-sides-xlg p-top-xs">
    <div class="row jt76-padding-sides-md">

        <div class="smart-widget m-top-sm widget-dark-blue">
            <div class="smart-widget-header">
                {{strMessage}}
                <span class="smart-widget-option">

                    <button class="btn btn-info btn-sm jt76-padding-sides-sm dissolve-animation ng-hide"
                            data-ng-show="!vm.hasChanges"
                            data-ng-click="vm.goBack()">
                        <i class="fa fa-backward"></i>&nbsp;Back
                    </button>
                    <button class="btn btn-info btn-sm jt76-padding-sides-sm dissolve-animation ng-hide"
                            data-ng-show="vm.hasChanges"
                            data-ng-click="vm.cancel()">
                        <i class="fa fa-ban"></i>&nbsp;Cancel
                    </button>
                    <button class="btn btn-primary btn-sm jt76-padding-sides-sm"
                            data-ng-click="vm.save()"
                            data-ng-disabled="!vm.canSave">
                        <i class="fa fa-save"></i>&nbsp;Save
                    </button>
                    <button class="btn btn-danger btn-sm jt76-padding-sides-sm"
                            data-ng-show="vm.bShowDelete"
                            data-ng-click="vm.deleteError()">
                        <i class="fa fa-minus"></i>&nbsp;Delete
                    </button>
                    <span class="dissolve-animation ng-hide" data-ng-show="vm.hasChanges">
                        <i class="fa fa-asterisk" data-ng-show="vm.bShowDelete"></i>
                    </span>

                </span>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <form name="Form" novalidate>
                        <div class="form-group">
                            <label aria-for="strMessage">Message</label>
                            {{input value=strMessage class="form-control" placeHolder="Enter Message"}}
                            <span class="jt76-error" data-ng-show="Form.strMessage.$error.required">Required</span>
                            <span class="jt76-error" data-ng-show="Form.strMessage.$error.minlength">Minimum 10 Characters</span>
                            <span class="jt76-error" data-ng-show="Form.strMessage.$error.maxlength">Maximum 255 Characters</span>
                        </div>
                        <div class="form-group">
                            <label aria-for="strErrorLevel">Level</label>
                            {{input value=strErrorLevel class="form-control" placeHolder="Enter Error Level"}}
                            <span class="jt76-error" data-ng-show="Form.strErrorLevel.$error.required">Required</span>
                        </div>
                        <div class="form-group">
                            <label aria-for="strSource">Source</label>
                            {{input value=strSource class="form-control" placeHolder="Enter Source"}}
                            <span class="jt76-error" data-ng-show="Form.strSource.$error.required">Required</span>
                            <span class="jt76-error" data-ng-show="Form.strSource.$error.minlength">Minimum 5 Characters</span>
                            <span class="jt76-error" data-ng-show="Form.strSource.$error.maxlength">Maximum 255 Characters</span>
                        </div>
                        <div class="form-group">
                            <label aria-for="strAdditionalInformation">Additional Information</label>
                            {{input value=strAdditionalInformation class="form-control" placeHolder="Enter Additional Information"}}
                            <span class="jt76-error" data-ng-show="Form.strAdditionalInformation.$error.required">Required</span>
                            <span class="jt76-error" data-ng-show="Form.strAdditionalInformation.$error.minlength">Minimum 5 Characters</span>
                            <span class="jt76-error" data-ng-show="Form.strAdditionalInformation.$error.maxlength">Maximum 255 Characters</span>
                        </div>
                        <div class="form-group">
                            <label aria-for="strStackTrace">Stack Trace</label>
                            {{input value=strStackTrace class="form-control" placeHolder="Enter Stack Trace"}}
                            <span class="jt76-error" data-ng-show="Form.strStackTrace.$error.required">Required</span>
                            <span class="jt76-error" data-ng-show="Form.strStackTrace.$error.minlength">Minimum 5 Characters</span>
                            <span class="jt76-error" data-ng-show="Form.strStackTrace.$error.maxlength">Maximum 4000 Characters</span>
                        </div>
                    </form>

                    <button class="btn btn-info btn-sm jt76-padding-sides-sm dissolve-animation ng-hide"
                            data-ng-show="!vm.hasChanges"
                            data-ng-click="vm.goBack()">
                        <i class="fa fa-backward"></i>&nbsp;Back
                    </button>
                    <button class="btn btn-info btn-sm jt76-padding-sides-sm dissolve-animation ng-hide"
                            data-ng-show="vm.hasChanges"
                            data-ng-click="vm.cancel()">
                        <i class="fa fa-ban"></i>&nbsp;Cancel
                    </button>
                    <button class="btn btn-primary btn-sm jt76-padding-sides-sm"
                            data-ng-click="vm.save()"
                            data-ng-disabled="!vm.canSave">
                        <i class="fa fa-save"></i>&nbsp;Save
                    </button>
                    <button class="btn btn-danger btn-sm jt76-padding-sides-sm"
                            data-ng-show="vm.bShowDelete"
                            data-ng-click="vm.deleteError()">
                        <i class="fa fa-minus"></i>&nbsp;Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>




