{{partial "pageHeader"}}

<div class="inbox-body jt76-padding-sides-xlg p-top-xs">
    <div class="row jt76-padding-sides-md">

        <div class="smart-widget m-top-sm widget-dark-blue">
            <div class="smart-widget-header">
                Error
                <span class="smart-widget-option" style="margin-top:-6px">
                    {{partial "singleItemButtonSet"}}
                </span>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <form name="Form" novalidate>
                        <div class="form-group">
                            <label>Message</label>
                            {{input value=strMessage class="form-control" placeholder="Enter Message"}}
                            <span class="jt76-error">{{RequiredLength strMessage 10 255}}</span>
                        </div>
                        <div class="form-group">
                            <label>Level</label>
                            {{input value=strErrorLevel class="form-control" placeholder="Enter Error Level"}}
                            <span class="jt76-error">{{Required strErrorLevel}}</span>
                        </div>
                        <div class="form-group">
                            <label>Source</label>
                            {{input value=strSource class="form-control" placeholder="Enter Source"}}
                            <span class="jt76-error">{{RequiredLength strSource 5 255}}</span>
                        </div>
                        <div class="form-group">
                            <label>Additional Information</label>
                            {{input value=strAdditionalInformation class="form-control" placeholder="Enter Additional Information"}}
                            <span class="jt76-error">{{RequiredLength strAdditionalInformation 5 255}}</span>
                        </div>
                        <div class="form-group">
                            <label>Stack Trace</label>
                            {{textarea valueBinding="strStackTrace" class="form-control" placeholder="Enter Stack Trace" rows="6"}}
                            <span class="jt76-error">{{RequiredLength strStackTrace 5 4000}}</span>
                        </div>
                    </form>

                    {{partial "singleItemButtonSet"}}
                </div>
            </div>
        </div>
    </div>
</div>




