{{page-header strPageTitle=strPageTitle strSubHeader=strSubHeader}}

<div class="inbox-body jt76-padding-sides-xlg p-top-xs">
    <div class="row jt76-padding-sides-md">

        <div class="smart-widget m-top-sm widget-dark-blue">
            <div class="smart-widget-header">
                Error
                <span class="smart-widget-option" style="margin-top:-6px">
                    {{partial "singleItemButtonSet"}}
                </span>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <form name="Form" novalidate>
                        <div class="form-group">
                            <label aria-for="strMessage">Message</label>
                            {{input value=strMessage class="form-control" placeHolder="Enter Message"}}
                            <span class="jt76-error" data-ng-show="Form.strMessage.$error.required">Required</span>
                            <span class="jt76-error" data-ng-show="Form.strMessage.$error.minlength">Minimum 10 Characters</span>
                            <span class="jt76-error" data-ng-show="Form.strMessage.$error.maxlength">Maximum 255 Characters</span>
                        </div>
                        <div class="form-group">
                            <label aria-for="strErrorLevel">Level</label>
                            {{input value=strErrorLevel class="form-control" placeHolder="Enter Error Level"}}
                            <span class="jt76-error" data-ng-show="Form.strErrorLevel.$error.required">Required</span>
                        </div>
                        <div class="form-group">
                            <label aria-for="strSource">Source</label>
                            {{input value=strSource class="form-control" placeHolder="Enter Source"}}
                            <span class="jt76-error" data-ng-show="Form.strSource.$error.required">Required</span>
                            <span class="jt76-error" data-ng-show="Form.strSource.$error.minlength">Minimum 5 Characters</span>
                            <span class="jt76-error" data-ng-show="Form.strSource.$error.maxlength">Maximum 255 Characters</span>
                        </div>
                        <div class="form-group">
                            <label aria-for="strAdditionalInformation">Additional Information</label>
                            {{input value=strAdditionalInformation class="form-control" placeHolder="Enter Additional Information"}}
                            <span class="jt76-error" data-ng-show="Form.strAdditionalInformation.$error.required">Required</span>
                            <span class="jt76-error" data-ng-show="Form.strAdditionalInformation.$error.minlength">Minimum 5 Characters</span>
                            <span class="jt76-error" data-ng-show="Form.strAdditionalInformation.$error.maxlength">Maximum 255 Characters</span>
                        </div>
                        <div class="form-group">
                            <label aria-for="strStackTrace">Stack Trace</label>
                            {{textarea valueBinding="strStackTrace" class="form-control" placeHolder="Enter Stack Trace" rows="6"}}
                            <span class="jt76-error" data-ng-show="Form.strStackTrace.$error.required">Required</span>
                            <span class="jt76-error" data-ng-show="Form.strStackTrace.$error.minlength">Minimum 5 Characters</span>
                            <span class="jt76-error" data-ng-show="Form.strStackTrace.$error.maxlength">Maximum 4000 Characters</span>
                        </div>
                    </form>

                    {{partial "singleItemButtonSet"}}
                </div>
            </div>
        </div>
    </div>
</div>




