{{page-header strPageTitle=strPageTitle strSubHeader=strSubHeader}}

<div class="inbox-body jt76-padding-sides-md p-top-xs">
    <div class="row m-bottom-sm">
        <div class="col-sm-2 col-md-2 m-bottom-sm">
            <h2 class="no-margin">
                Logs
            </h2>
        </div>

        <div class="col-sm-2 col-md-2 m-bottom-sm">
            <div class="search-input">
                {{input value=strToSearchFor class="form-control input-sm inline-block"}}
                <a class="input-icon text-normal" style="cursor:inherit;"><i class="ion-ios7-search-strong"></i></a>
            </div>
        </div>

        <div class="col-sm-8 col-md-8 text-right text-left-sm">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Order By <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-sort" role="menu">
                    {{#each item in displayProperties}}
                    <li><a {{action "toggleSort" item}}>{{item.value}}</a></li>
                    {{/each}}
                    <li class="divider"></li>
                    <li><a {{action "toggleSort" "reset"}}>Reset</a></li>
                </ul>
            </div>
            <a class="btn btn-primary" {{action "injectItem"}}>
                <i class="fa fa-fire"></i>&nbsp;Inject Log Message
            </a>
            {{#link-to "index.admin.logMessage" "new" classNames="btn btn-success"}}
            <i class="fa fa-plus-circle"></i>&nbsp;Add Log Message
            {{/link-to}}
            <a class="btn btn-info" {{action "refresh" true true}}>
                <i class="fa fa-refresh"></i>&nbsp;Refresh
            </a>
        </div>
    </div>

    {{pagination-display classNames="pagination-row clearfix m-bottom-sm" pagination=paginationData}}

    <div class="message-table table-responsive bg-light">
        <table class="table table-bordereds">
            <thead>
                <tr class="bg-dark">
                    <th class="col-sm-3">Created</th>
                    <th class="col-sm-9">Message</th>
                </tr>
            </thead>
            <tbody>
                {{#each item in displayModel}}
                <tr>
                    <td class="col-sm-2">
                        <div class="jt76-multiline">{{item.strCreated}}</div>
                    </td>
                    <td class="col-sm-10 jt76-no-select">
                        {{#view Jt76EmberBase.ExpandingSingleItemView strText=item.strLogMessage nMaxLength=160}}
                        {{#link-to "index.admin.logMessage" item}}<div class="jt76-title-link">{{view.formattedText}}</div>{{/link-to}}
                        {{#if view.jt76ReadMore}}
                        <span class="text-success">Read{{#if view.jt76IsExpanded}} Less {{else}} More {{/if}}</span>
                        {{/if}}
                        {{/view}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{pagination-display classNames="pagination-row clearfix m-bottom-sm" pagination=paginationData}}

</div>

