{{partial "pageHeader"}}

<div class="inbox-body jt76-padding-sides-md p-top-xs">

    {{partial "arrayButtonSet"}}

    {{pagination-display classNames="pagination-row clearfix m-bottom-sm" pagination=paginationData}}

    <div class="message-table table-responsive bg-light">
        <table class="table table-bordereds">
            <thead>
                <tr class="bg-dark">
                    <th class="col-sm-3">Created</th>
                    <th class="col-sm-9">Message</th>
                </tr>
            </thead>
            <tbody>
                {{#each item in displayModel}}
                <tr>
                    <td class="col-sm-2">
                        <div class="jt76-multiline">{{item.strCreated}}</div>
                    </td>
                    <td class="col-sm-10 jt76-no-select">
                        {{#view Jt76EmberBase.ExpandingSingleItemView strText=item.strLogMessage nMaxLength=160}}
                        {{#link-to "index.admin.logMessage" item}}<div class="jt76-title-link">{{view.formattedText}}</div>{{/link-to}}
                        {{#if view.jt76ReadMore}}
                        <span class="text-success">Read{{#if view.jt76IsExpanded}} Less {{else}} More {{/if}}</span>
                        {{/if}}
                        {{/view}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{pagination-display classNames="pagination-row clearfix m-bottom-sm" pagination=paginationData}}

</div>

