{{partial "pageHeader"}}

<div class="inbox-body jt76-padding-sides-xlg p-top-xs">
    <div class="row jt76-padding-sides-md">

        <div class="smart-widget m-top-sm widget-dark-blue">
            <div class="smart-widget-header">
                Log
                <span class="smart-widget-option" style="margin-top:-6px">
                    {{partial "singleItemButtonSet"}}
                </span>
            </div>
            <div class="smart-widget-inner">
                <div class="smart-widget-body">
                    <form name="Form" novalidate>
                        <div class="form-group">
                            <label>Message</label>
                            {{textarea valueBinding="strLogMessage" class="form-control" placeholder="Enter Message" rows="6"}}
                            <span class="jt76-error">{{RequiredLength strLogMessage 10 2000}}</span>
                        </div>
                    </form>

                    {{partial "singleItemButtonSet"}}
                </div>
            </div>
        </div>
    </div>
</div>




