{{partial "pageHeader"}}

<span class="jt76-underline h4">Api File Sample Project</span>

<div class="pull-right">
    <button {{action "viewPdf"}}
            {{bind-attr class=":btn :btn-primary :btn-sm :jt76-padding-sides-lg :form-inline"}}>
        <i class="fa fa-picture-o"></i>&nbsp;View PDF
    </button>
    <button {{action "popupPdf"}}
            {{bind-attr class=":btn :btn-info :btn-sm :jt76-padding-sides-lg :form-inline"}}>
        <i class="fa fa-toggle-up"></i>&nbsp;Popup PDF
    </button>
    <button {{action "downloadPdf"}}
            {{bind-attr class=":btn :btn-success :btn-sm :jt76-padding-sides-lg :form-inline"}}>
        <i class="fa fa-folder-o"></i>&nbsp;Download PDF
    </button>
</div>

<hr />

<span class="jt76-underline h4">PDF Sharp Sample Project</span>

<div class="pull-right">
    <button {{action "viewCreatedPdf"}}
            {{bind-attr class=":btn :btn-primary :btn-sm :jt76-padding-sides-lg :form-inline"}}>
        <i class="fa fa-picture-o"></i>&nbsp;View Created PDF
    </button>
</div>

<hr />

<div id="contentIframe"></div>
