
<button {{action "goBack"}}
        {{bind-attr class="bChanged:jt76-quick-fade-out:jt76-quick-fade-in bNew:jt76-visible :btn :btn-info :btn-sm :jt76-padding-sides-sm :form-inline"}}>
    <i class="fa fa-backward"></i>&nbsp;Back
</button>
<button {{action "cancel"}}
        {{bind-attr class="bChanged:jt76-quick-fade-in:jt76-quick-fade-out bNew:jt76-hidden :btn :btn-info :btn-sm :jt76-padding-sides-sm :form-inline"}}>
    <i class="fa fa-ban"></i>&nbsp;Cancel
</button>
<button {{action "save"}}
        {{bind-attr class="bChanged:jt76-quick-fade-in:jt76-quick-fade-out :btn :btn-primary :btn-sm :jt76-padding-sides-sm :form-inline"}}>
    <i class="fa fa-save"></i>&nbsp;Save
</button>
<button {{action "deleteItem"}}
        {{bind-attr class="bNew:jt76-quick-fade-out :btn :btn-danger :btn-sm :jt76-padding-sides-sm :form-inline"}}>
    <i class="fa fa-minus"></i>&nbsp;Delete
</button>
<span {{bind-attr class="bChanged:jt76-quick-fade-in:jt76-quick-fade-out :form-inline"}}>
    <i class="fa fa-asterisk"></i>
</span>