<div class="wrapper preload">

    {{view "topNav"}}
    {{view "sidebarMenu"}}
    
    <div class="main-container">
        <div class="padding-md">
            <div class="row" {{bind-attr style="heightStyle"}} >

                {{outlet}}

            </div>
        </div>
    </div>
    {{view "footer"}}

</div>
<a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
