<div class="wrapper preload">

    {{view "topNav"}}
    {{view "sidebarMenu"}}
    
    <div class="main-container">
        <div class="padding-md">
            <div class="row" {{bind-attr style="heightStyle"}} >

                <div class="row jt76-padding-sides-md">
                    <div class="col-xs-9 col-sm-10 col-lg-10">
                        <div class="page-title">
                            Title
                        </div>
                        <div class="page-sub-header">"Sub Header"</div>
                    </div>
                    <div class="text-right p-top-sm pull-right col-xs-3 col-sm-2 col-lg-2">
                        <a href="#/" class="btn btn-default"><i class="fa fa-home"></i></a>
                    </div>
                </div>

                <hr class="jt76-hr-md" />

                {{outlet}}

            </div>
        </div>
    </div>
    {{view "footer"}}

</div>
<a href="#" class="scroll-to-top hidden-print"><i class="fa fa-chevron-up fa-lg"></i></a>
