{{partial "pageHeader"}}

<div class="inbox-body p-top-xs">
    <div class="sign-in-wrapper jt76-padding-sides-sm">
        <div class="sign-in-inner">
            <form id="form">

                <div class="login-brand text-center no-m-bottom">
                    <i class="fa fa-bug m-right-xs"></i> Contact <strong class="text-skin brand-name">Jt76</strong>
                </div>

                <div class="form-group m-bottom-md m-top-xs">
                    {{input value=strUserName class="form-control" placeholder="Your Callsign"}}
                    <span class="jt76-error">{{RequiredLength strUserName 10 255}}</span>
                </div>
                <div class="form-group m-bottom-md">
                    {{input value=strUserEmail class="form-control" placeholder="Email Address"}}
                    <span class="jt76-error">{{EmailField strUserEmail "false"}}</span>
                </div>
                <div class="form-group m-bottom-md">
                    {{textarea valueBinding="strUserMessage" class="form-control" placeholder="Send me a message" rows="6"}}
                    <span class="jt76-error">{{RequiredLength strUserMessage 25 8000}}</span>
                </div>


                <div class="m-top-md p-top-sm m-bottom-md">
                    <a {{action "send"}}
                            {{bind-attr class=":btn :btn-primary :jt76-padding-sides-sm :block" disabled="bInValid"}}>
                        <i class="fa fa-envelope-o"></i>&nbsp;Send
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

